<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Gabby</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <a href="/index">Home</a>
        <a href="/index/gab-add">Create a gab</a>
        <a href="/index/mygabs">My Gabs</a>
        <form method="post" action="/index/logout">
            <button type="submit">Logout</button>
        </form>
    </header>

    <h1>{{gab}}</h1>
    <h2>These people like this gab:</h2>
    {{#likes}}
        {{#.}}
            <p>{{user.dataValues.username}}</p>
        {{/.}}
    {{/likes}}

</body>

</html>