<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Gabby</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>

<body>
    <header>
        <a href="/index">Home</a>
        <a href="/gab">Create a gab</a>
        <a href="/login">Log In</a>
        <a href="/register">Register</a>
    </header>
    <h1>Hello {{user}}</h1>
</body>

</html>