<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Gabble</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>

<body>
    <header>
        <a href="/index">Home</a>
        <a href="/gab">Create a gab</a>
        <a href="/index">Currently logged in as {{user}}</a>
        <a href="/logout">Log Out</a>
    </header>
    <h1>Welcome {{user}}!</h1>
</body>

</html>