<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Gabby</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>

<body>
    <header>
        <a href="/index">Home</a>
        <a href="/index/gab">Create a gab</a>
        <a href="/index/login">Log In</a>
        <a href="/index/register">Register</a>
    </header>
    <h1>Hello, please either log in or register to begin.</h1>
</body>

</html>