<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Gabby</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>

<body>
    <header>
        <a href="/index">Home</a>
        <a href="/index/gab">Create a gab</a>
        <a href="/index/login">Log In</a>
        <a href="/index/register">Register</a>
    </header>
    <form method="post" action="/index/register">
        <input type="text" name="username" placeholder="User Name" /> <br />
        <input type="password" name="password" placeholder="Password" /> <br />
        <input type="password" name="passwordConfirm" placeholder="Confirm Password" /> <br />
        <button type="submit">Create Account</button>
    </form>
    <div class="errors">
        {{#errors}}
        <p>{{msg}}</p>
        {{/errors}}
    </div>
</body>

</html>