* {
    box-sizing: border-box;
}

header {
    margin-bottom: 10px;
    display: flex;
}

header a {
    margin-left: 20px;
}

.errors {
    margin-top: 20px;
}

form input, form button {
    margin-top: 10px;
}